.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #212529;
    color: #fff;

@media (max-width: 480px) {
    width: 105%;
}
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links_items{
    display: flex;
    list-style: none;
    li{
        margin-right: 1.3em;
    }
    a{
        color: palevioletred;
        text-decoration: none;
        padding: 5px;
        transition: .4s;
        border-bottom: 2px solid transparent;
    }
    a:hover{
        border-color:aliceblue
    }
@media (max-width: 480px) {
    li{
        font-size: 11px;
        margin-right: 1px;
        text-transform: uppercase;
    }   
    }

}

.h1{
    color: #b5838d;
    font-size: 30px;
@media (max-width: 480px) {
    font-size: 15px;
    margin-left: 1px;
    }
}