.div{
    display: flex;
    width: 102%;
    background-color: #673AB7;
    margin-top: 0px;
}

.searchP{
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  box-shadow: -2px -2px 6px #9C27B0, 2px 2px 12px #673AB7;
  width: 380px;
  margin-left: 550px;
  margin-bottom: 50px;
  @media (max-width: 450px) {
    margin-left: 0px;
    width: 105%;
  
  } 
  input{
    background-color: #FFC107;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #000000;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 111%;

    @media (max-width: 450px) {
    height: 47px;
    margin-top: -1px;
    padding-left: 53px;
    padding-bottom: 18px;
    }
  }
}

.imgSearcthp{
  background-color: #FFC107;
}